<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.testing.framework.listeners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testing.framework.HomePageTest"/>
      <class name="com.testing.framework.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
